<h1>App-etizer</h1>
<button class="add-more-button">Add More</button>
<div class="grid-container">
<% @apps.each do |app| %>
  <div class="app-container" >
  <button class="remove-button"></button>
  <div class="content-container">
    <a href="<%= app.link %>" class="app-name"><%= app.name %></a>
    <img class="app-image" src="<%= app.image %>"></img>
    <p><%= app.description %></p>
    </div>
    
  
  </div>

  <% end %>
  <div>

  

