<h1>App-Etizer</h1>

 

<h1>Login</h1>


<form action="/login/submit" class='login-form'>
  <label class='login-label' ></label>
  <input name="login"class="login-input" placeholder="Login"></input>
  <label class='login-label' ></label>
  <input name="password" class="password-input" placeholder="password" type="password"></input>
  <button type="submit" class="login-submit-button">Submit</button>
</form>
