<h1>Login#login</h1>

 <% @users.each do |u| %>
  <div><%= u.login %></div>
  <%= u.password %>
  <% end %>

<h1>Login</h1>


<form action="/login/submit">
  <label>Login:</label>
  <input name="login"class="login-input"></input>
  <label>Password:</label>
  <input name="password" class="password-input"></input>
  <button type="submit">Submit</button>
</form>
