// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-input,
.password-input {
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  margin-bottom: 25px;
}

.login-submit-button {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
